.bio-main{
    background-image: url("../../images/paper.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    height: auto;
    font-family: 'Caveat', cursive;
    display: flex;
    flex-direction: column;
}

.bio-container{
    padding: 5%;
}
.bio-image-container{
    margin: 1% 2%;
}

.bio-image{
    float: left;
    height: 400px;
    width: 450px;
    margin-right: 2%;

}

.bio-desc{
    font-size: 4.25vw;
    color: var(--orange);
    font-weight: bolder;
}