
:root{
    --pink: #ff8471;
    --yellow: #ffea79;
    --orange: #e8ab62;
    --green: #ace862;
    --pastel-green: #6bffa0;
  }

.splash-main{
    background-image: url("../../images/paper.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    font-family: 'Caveat', cursive;
    

}

.splash-head{
    position: absolute;
    display: flex;
    justify-content: left;
    top: 50px;
    height: auto;
    width: 100%;
    background: #ff8471;
    background: radial-gradient( rgba(255, 132, 113, 1), rgba(255, 132, 113, 0));
    border: none;
    border-width: 5px 0 5px 0;
    text-align: center;
    font-size: 9vw;
    color: #ffea79;
    

}

.splash-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.splash-image{
    height: auto;
}

.splash-title{
    margin: auto;
}

.splash-video{
    min-height: 100vh;
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow: hidden;

}

.splash-button-container{
   
    

}

.splash-button{
    background: rgba(255, 132, 113, .5);
    position: absolute;
    bottom: 50px;
    color: #ffea79;
    font-size: 5vw;
    border-radius: 25px;
    padding: 15px;
    outline: none;
    font-family: 'Caveat', cursive;
    outline: none;
    border: none;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.splash-button:hover{
    background: rgba(255, 132, 113, .75);
    text-decoration: underline;
    cursor: pointer;
}