
:root{
    --pink: #ff8471;
    --yellow: #ffea79;
    --orange: #e8ab62;
    --green: #ace862;
    --pastel-green: #6bffa0;
  }

.splash-main{
    background-image: url("../../images/paper.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    height: auto;
    font-family: 'Montserrat', sans-serif;
}

.splash-head{
    display: flex;
    justify-content: center;
    margin: 4% 0 4% 0;
    height: auto;
    width: 100%;
    background: #ff8471;
    background: radial-gradient( rgba(255, 132, 113, 1), rgba(255, 132, 113, 0));
    border: none;
    border-width: 5px 0 5px 0;
    text-align: center;
    font-size: 7vw;
    color: #ffea79

}

.splash-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.splash-image{
 height: auto;
}

.splash-title{
    margin: auto;
}

.splash-video{
    height: auto;
    width: 100%;
    background: radial-gradient( rgba(172, 232, 98, 1), rgba(172, 232, 98, 0));
    display: flex;
    justify-content: center;
    padding: 1% 0;

}

.splash-button{
    background: rgba(255, 132, 113, .5);
    color: #ffea79;
    margin: 10% 0 2% 0;
    font-size: 5vw;
    border-radius: 25px;
    padding: 15px;
    outline: none;
}

.splash-button:hover{
    background: var( --pink)
}