.home-main{
    background-image: url("../../images/paper.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    height: auto;
    font-family: 'Caveat', cursive;
    display: flex;
    flex-direction: column;

}
.home-container{
    display: flex;
}

.home-welcome{
    font-size: 4vw;
    color: var(--orange);
    text-align: center;
    font-weight: bolder;
    margin:auto 2%;
}
.home-carousel{
    margin: auto 2% 2% auto;
    position: relative;
    z-index: 1;
    

}

.home-carousel-slides{
    display: none;
}

.home-prev, .home-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--green);
    transition: 0.6s ease-in-out;
    border-radius: 0 3px 3px 0;
    font-size: 3vw;
}

.home-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.home-prev:hover, .home-next:hover {
    background-color: rgba(255, 132, 113,0.8);
    text-decoration: none;
  }

  .home-carousel-text{
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

.home-carousel-image{
    width: 650px;
    height: 450px;
}



