
.contact-button{
    height: 75px;
    width: 75px;
    background-color: var(--pastel-green);
    border-radius: 50%;
    position: fixed;
    bottom: 25px;
    left: 25px;
    z-index: 5;
    opacity: .5;
    transition: 1s;
    display: flex;
    justify-content: center;
}

.contact-button:hover{
    opacity: 1;
    transition: 1s;
}

.contact-icon{
    height: 75px;
    width: 75px;
    margin: auto;
}
                    
.contact-window{
    position: fixed;
    height:400px;
    bottom: 0px;
    left: 25px;
    color: #ffea79;
    background: rgba(255, 132, 113, .75);
    display: flex;
    flex-direction: column;
    border: solid var(--yellow) 4px;
    border-bottom: none;
    border-radius: 25px 25px 0 0;
    z-index: 7;
    transition: 2s
    

                        
}

.contact-window-hidden{
    bottom: -450px;
    transition: 2s
}

.contact-info{
    display: flex;
    flex-direction: column;
    margin:auto;
    padding: 15px;
}

.contact-info>div{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    font-size: 3vw;
    width: 400px;
}

.contact-window-title{
    font-size: 3.5vw;
    margin: auto;
}

textarea{
    height: 50px;
}