.contact-main{
    height: 75px;
    width: 75px;
    background-color: var(--pastel-green);
    border-radius: 50%;
    position: fixed;
    bottom: 25px;
    left: 25px;
    z-index: 5;
    opacity: .5;
    transition: 1s;
    display: flex;
    justify-content: center;
}

.contact-main:hover{
    opacity: 1;
    transition: 1s;
}

.contact-icon{
    height: 75px;
    width: 75px;
    margin: auto;
}