.gallery-main{
    background-image: url("../../images/paper.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    height: auto;
    font-family: 'Caveat', cursive;
    display: flex;
    flex-direction: column;
}

.gallery-container{
    display: flex;
    flex-wrap: wrap;

}

.gallery-photo-container{
    margin: 0 auto;
}

.gallery-photo{
    width: 250px;
    height: 250px;
    margin: 50px;
    border-radius: 10px;
}

.modal-photo{
    height: 500px;
    width: 500px
}